* {
    /* clear irregular  and default spaces */
    box-sizing: content-box;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 10px;
}

body {
    background-color: #F4F4F4;

}

/* utitlity clases */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bolder;
}

.space-btw {
    justify-content: space-between;
}

.mobile-view {
    display: none;
}


/* utitility classes end */

.main-box {
    display: flex;
    padding: 15px 20px;
}

/* styling for the side bar begins here */

.sidebar {
    display: block;
    height: inherit;
    width: 23%;
    max-width: 300px;
    margin-right: 20px;
}

.logo-box {
    width: 100%;
}

.logo { 
    padding-right: 10px;
}

.logo img {
    max-height: 60px;
    border-radius: 5px;
}

.wine-bottle img {
    max-height: 60px;
}

.sibebar-card {
    margin: 15px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.profile-data {
    display: flex;
    border: 1px solid rgba(138, 138, 138, 0.2);
    margin: 20px 0;
}

.profile-photo {
    max-width: 60px;
    padding-right: 10px;
}

.profile-photo img {
    width: 100%;
    border-radius: 5px;
}

.username {
    font-size: 1.9rem;
    font-weight: bolder;
}

.user-email {
    font-size: 1.5em;
    color:rgb(151, 151, 151);
}

.sidebar-card-item {
    padding: 15px 10px;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    background-color: #fff;
    color: #949494;
}

.name {
    display: flex;
    text-transform: capitalize;
    align-items:center;
    font-size: 1.3rem;
}

.sidebar-card-item .fa-solid {
    font-size: 1.5rem;
    color: #949494;
}

.arrow .fa-solid {
    font-size: 1.5rem;
}

.sidebar-card-item:hover {
    background-color: #F4F4F4;;
}

main {
    width: 100%;
}


/* top-row stylings */

.top-row,
.bottom-row {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.top-row {
    border: 1px solid rgba(138, 138, 138, 0.2);
    background-color: #fff;
    min-height: 250px;
}

.demand-stats {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    font-size: 1.5rem;
}

.new-wine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 130px;
    padding: 10px;
    background: #FFD701;
    font-size: 1.3rem;
    border-radius: 20px;
}

.new-wine .fa-solid {
    font-size: 1.3em;
}

.demand-stats .stats-title {
    margin: 10px 0;
    text-align: center;
    color:rgb(20, 20, 20);
    font-size: bold;
}

.days-box {
    margin: 10px;
    justify-content: space-between;
}

.day {
    color: grey;
}

.percentage {
    margin: 10px 0;
    font-weight: bolder;
    color: red;
}

.slider-controls {
    font-size: 1.3em;
    margin: 10px 0;
}

/* sales card styling */

.sales-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 25px;
    border-radius: 10px;
    width: 18%;
}

.sales-card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    color: white;
    border-radius: 11px;
}

.sales-card .card-title {
    margin-top: 20px;
    font-size: 2rem;
    color: #6A6A6A;
}

.sales-card .card-sub-title {
    font-size: 1.2rem;
}

.sales-card .amount {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

.amount .fa-solid {
    font-size: 0.5em;
    padding-right: 0.5rem;
}

.view-wines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90px;
    padding: 8px;
    background-color: black;
    font-size: 1.2rem;
    color:#fff;
    border-radius: 10px;
}

.sales {
    background-color: #DFE6FF;
}

.sales .icon {
    background-color: #6C9CFD;
    color: #fff;
}

.revenue {
    background-color: #F1F3FF;
}

.revenue .icon {
    background-color: #fff;
    border: 1px solid #6C9CFD;
    color: #6C9CFD;
}

.stock {
    background-color: #F1F1F2;
}

.stock .icon {
    background-color: #000;
    color: #fff;
}

/* styling of bottom row */
.recipe-box {
    margin: 10px 0;
    padding: 30px 20px;
    border-radius: 10px;
    width: 25%;
    background-color: #fff;
    align-self: flex-start;
}

.wines-sold {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    width: 28%;
    background-color: #fff;
    align-self: flex-start;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    text-transform: capitalize;
}

.recipe-item .arrow-box {
    font-weight: bolder;
    font-size: 1.5rem;
}

.recipe-box .recipe-item {
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}

.recipe-box .recipe-item:hover {
    background-color: #EBEBEB;
}

.round-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 2px;
    border-radius: 50%;
    background-color: #FFD701;
}

.round-circle img {
    height: 100%;
}

.new-recipe-btn  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #FFD701 ;
    background-color: #fff;
}

.all-recipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 30%;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFD701;
}

.cirlcle-outline {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.9em;
    background-color: #000;
    color: #FFD701;
}

.recipe-box h3,
.recipe-item h3 {
    padding: 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.recipe-name {
    font-size: 1.6rem;
}

.recipe-group {
    font-size: 1.2rem;
    color: #949494;
    margin-top: -5px;
}

/* progress bar styling */

.progress-wrap {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
}

.progress-wrap .progress-circle .mask,
.progress-wrap .progress-circle .fill-p81,
.progress-wrap .progress-circle .fill-p41,
.progress-wrap .progress-circle .fill-p33 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
}

.progress-wrap .progress-circle .mask {
    clip: rect(0px, 25px, 50px, 0px);
}

.progress-wrap .progress-value{
    width: 36px;
    height: 37px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
    margin-top: 7px;
    margin-left: 7px;
    position: absolute;
    z-index: 2;
    font-weight: 700;
    font-size: 1.3rem;
}

/* color animation */

.mask .fill-p81,
.mask .fill-p41,
.mask .fill-p33 {
    clip: rect(0px, 50px, 50px, 25px);
    background-color: #FFD701;
}

.mask.full-p81,
.progress-circle .fill-p81 {
    animation: fill-p81 ease-in-out 3s;
    transform: rotate(146deg);
}

@keyframes fill-p81 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(146deg);
    }
}

/* styling for 41% progress */

.mask.full-p41,
.progress-circle .fill-p41 {
    animation: fill-p41 ease-in-out 3s;
    transform: rotate(74deg);
}

.mask .fill-p41 {
    clip: rect(0px, 50px, 50px, 25px);
    background-color: #FFD701;
}

.mask.full-p41,
.progress-circle .fill-p41 {
    animation: fill-p41 ease-in-out 3s;
    transform: rotate(74deg);
}

@keyframes fill-p41 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(74deg);
    }
}

/* styling for 33% progress */

.mask.full-p33,
.progress-circle .fill-p33 {
    animation: fill-p33 ease-in-out 3s;
    transform: rotate(59deg);
}

.mask .fill-p33 {
    clip: rect(0px, 50px, 50px, 25px);
    background-color: #FFD701;
}

.mask.full-p33,
.progress-circle .fill-p33 {
    animation: fill-p33 ease-in-out 3s;
    transform: rotate(59deg);
}

@keyframes fill-p33 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(59deg);
    }
}

.all-wines-box{
    position: relative;
}

.all-wines {
    position: absolute;
    bottom: -60px;
    left: 50%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

.down-arrow {
    font-size: 2rem;
}

.graph-stats {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-box {
    position: relative;
    height: 85%;
    max-height: 400px;
    width: 100%;
}


.graph-stats .comments {
    align-self: flex-end;
    border: 2px solid #FFD701;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5em;
    background: none;
}

.comments .fa-solid {
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* for mobile view styling */

@media (max-width: 768px) {
    /* utitlity clasess */
    .no-mobile {
        display: none;
    }

    .mobile-view {
        display: unset;
    }
    /* untitlity clases end */

    /* adjusting styles of elements in desktop */

    body {
        background-color: #fff;
    }
    .main-box {
        flex-direction: column;
    }

    main {
        width: 100%;
        position: relative;
    }

    /* end of adjustments of styles in desktop view */

    .mobile-nav-box {
        width: 0;
        height: 100%;
        position: fixed; 
        z-index: 4; 
        top: 0; 
        left: 0;
        overflow: hidden; 
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.034); 
    }

    .mobile-nav {
        display: flex;
        width: 80%;
        max-width: 300px;
        height: 100%;
        flex-direction: column;
        background-color: #ffffff;
        margin-left: -10px;
        padding: 15px 5%;
        box-shadow: 2px 2px 4px 2px rgba(138, 138, 138, 0.227);
    }


    .profile-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 30px;
        width: 100;
    }

    .app-logo {
        height: 50px;
    }

    .app-logo img {
        height: 100%;
    }

    .nav-profile-photo {
        height: 50px;
    }

    .nav-profile-photo img {
        height: 100%;
        border-radius: 10px;
    }

    .mobile-nav-item {
        width: 90%;
        padding: 10px 5%;
        margin: 5px auto;
        font-size: 1.5rem;
        border-radius: 10px;
        background-color: #F2F2F2;
        color: #8C8C8C;
        transition: 0.3s;
    }

    .hr {
        border-top: 2px solid #8C8C8C;
        width: 100%;
        height: 20px;
        margin: 20px 0 0;
    }

    .mobile-nav-sub-title {
        font-size: 1.8rem;
        margin: 0 0 20px;
    }

    /* for the carousel of top row cards*/
    .top-row {
        position: relative;
        display: block;
        padding: 0;
        width: 100%;
        margin: auto;
        min-height: unset;
        border: none;
    }

    .demand-stats {
        border: 1px solid rgba(187, 187, 187, 0.3);
        border-radius: 10px;
    }

    .slide-item {
        display: none;
        padding: 20px 5%;
        width: 90%;
    }

    .sales-card .icon {
        width: 50;
        height: 50;
        float: left;
        margin-right: 30px;
    }

    .sales-card .icon .fa-solid {
        font-size: 1.8rem;
    }

    .sales-card .card-title {
        display: inline;
        padding: 10px 0;
    }

    .sales-card .amount {
        padding: 2.5rem 0;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    .view-wines-box {
       display: block;
    }

    .view-wines {
        display: none;
    }

    .dics-box {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }

    .disc {
        cursor: pointer;
        height: 10px;
        width: 20px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 10px;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active-disc {
        width: 60px;
        background-color: #FFD701;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /* styling for the bottom row elements */

    .bottom-row {
        position: relative;
        flex-direction: column-reverse;
        margin: auto;
    }

    .chart-box {
        height: 200px;
        margin-bottom: 30px;
    }

    .wines-sold,
    .recipe-box{
        width: 90%;
        flex-direction: column;
        padding: 10px 5%;
    }

    .graph-stats {
        width: 100%;
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 0.2);
    }

    .recipe-box {
        display: flex;
    }

    .tab-item {
        display: none;
        border: 1px solid rgba(187, 187, 187, 0.2);
        box-shadow: 0 5px 3px -3px#bbb;
    }

    .tabs-menu-box {
        text-align: center;
        padding: 10px 0;
    }

    .tab {
        padding: 5px;
        font-weight: 500;
        display: inline;
        font-size: 1.5rem;
    }

    .active-tab {
        border-bottom: 5px solid #FFD701;
    }

    .recipe-box .recipe-item:last-child {
        margin-bottom: 15px;
    }

    .new-recipe-btn {
        color: #fff;
        background-color: #FFD701;
        font-size: 1.2rem;
        font-weight: 500;
        max-width: 80px;
    }

    .all-recipe {
        background-color: unset;
        font-size: 1.5rem;
        font-weight: 500;
        max-width: 50px;
    }

    .all-recipe .cirlcle-outline {
        background-color: #FFD701;
        color: #000;
        border-color: #FFD701;
    }

    .move-to-last {
        order: 1;
    }

    .all-wines-box {
        display: none;
    }

    .fixed-gap {
        margin-bottom: 50px;
    }

    .bottom-menu-box {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 3;
        box-shadow: 0 -5px 3px -3px#bbb;

    }

    .bottom-menu-wrap {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        margin: auto;
        background-color: #fff;
    }

    .bottom-menu-item {
        display: inline-block;
        padding: 10px 20px 15px;
        font-size: 1.8rem;
        border-radius: 10px;
        color: #000;
    }

    .bottom-menu-item:hover, 
    .bottom-menu-item:active {
        background-color: #FFEB80;
    }

    .bottom-menu-item .fa-home {
        margin-right: 10px;
    }

}