* {
    /* clear irregular  and default spaces */
    box-sizing: content-box;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* utitlity clases */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bolder;
}

/* utitility classes end */
main {
    margin: 15px;
    padding: 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
}

/* styling for the side bar begins here */

.sidebar {
    display: block;
    height: inherit;
    width: 25%;
    max-width: 250px;
    float: left;
}

.logo-box {
    width: 100%;
    border: 1px solid red;
}

.logo { 
    padding-right: 10px;
}

.logo img {
    max-height: 60px;
    border-radius: 5px;
}

.wine-bottle img {
    max-height: 60px;
}

.sibebar-card {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(134, 134, 134, 0.2);
}

.profile-data {
    display: flex;
    border: 1px solid grey;
    margin: 20px 0;
}

.profile-photo {
    max-width: 60px;
    padding-right: 10px;
}

.profile-photo img {
    width: 100%;
    border-radius: 5px;
}

.username {
    font-size: 1em;
    font-weight: bolder;
}

.user-email {
    font-size: .8em;
    color:rgb(151, 151, 151);
}

.sidebar-card-item {
    padding: 15px 10px;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
}

.name {
    display: flex;
    text-transform: capitalize;
    align-items:center;
    font-size: 0.9em;
}

.sidebar-card-item .fa-solid {
    font-size: 1.3em;
    color: rgb(66, 66, 66);
}

.arrow .fa-solid {
    font-size: 1em;
}

.sidebar-card-item:hover {
    background-color: rgb(185, 185, 185);
}


/* top-row stylings */

.top-row {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: bisque;
}

.demand-stats {
    max-width: 25%;
    width: 300px;
    padding: 10px;
}

.new-wine {
    padding: 10px;
    background: rgb(224, 192, 9);
    font-weight: bolder;
    font-size: 0.7em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px  rgb(134, 134, 134);
}

.new-wine .fa-solid {
    font-size: 1.3em;
}

.demand-stats .stats-title {
    margin: 10px 0;
    text-align: center;
    color:rgb(20, 20, 20);
    font-weight: bolder;
}

.days-box {
    width: 100%;
    margin: 10px;
    justify-content: space-between;
}

.day {
    font-size: 0.8em;
    color: grey;
}

.percentage {
    margin: 10px 0;
    color: red;
}

.slider-controls {
    font-size: 1.3em;
    margin: 10px 0;
}